.slider-nav-item--active {
  border: solid 1px #459AD4 !important;
}

owl-carousel-o::ng-deep{
    img{
      border-radius: 8px;
    }
}

.agency-logo {
  position: absolute;
  top: 10px;
  right: 10px; 
}

.agency-logo-img {
  width: 130px;
  height: auto; 
}

.menu{
  display: flex;
  flex-wrap: wrap;
}

.menu-standard-item{
  flex-basis: 33.33%;  
}

.property-item{
  flex-basis: 50%;  
}