<!-- Tags  -->
<ul class="product-filter-tags">
    <li class="me-1" >
      @for(tag of paramsTag; track tag){
        <a href="javascript:void(0)" class="filter_tag">
          {{ tag }} <app-feather-icons [icon]="'x'" (click)="removeTag(tag)"></app-feather-icons>
        </a>
      }
      @if(price.minPrice.length || price.maxPrice.length){
        <a href="javascript:void(0)" class="filter_tag">
            Price : {{ price.minPrice | currencySymbol: propertyService.Currency }} - {{ price.maxPrice | currencySymbol: propertyService.Currency }} <app-feather-icons [icon]="'x'" (click)="removePrice()"></app-feather-icons>
        </a>
      }

      @if(area.minArea.length || area.maxArea.length){
        <a href="javascript:void(0)" class="filter_tag">
            Area : {{ area.minArea }} - {{ area.maxArea}} <app-feather-icons [icon]="'x'" (click)="removeArea()"></app-feather-icons>
        </a>
      }
    </li>
</ul>

<div class="property-2 row column-sm zoom-gallery property-label property-grid" [class.list-view]="listView">

  <app-property-box  [type]="'basic'" [tagClass]="'color-2'" [thumbnail]="thumbnail" [thumbnail_video]="thumbnail_video" [gridImages]="gridImages" ></app-property-box>

</div>

<app-pagination [products]="latestForRentData" [paginate]="paginate" (setPage)="setPage($event)">
</app-pagination>
