<div class="single-property-section" style="z-index: 1;">
  <div class="container" >
    <div class="single-title">
      <div class="left-single">
        <div class="d-flex">
          <h2 class="mb-0">{{ property ? property.title : 'Orchard House' }} </h2>
          <span><span class="label label-shadow ms-2">En vente</span></span>
        </div>
        <p class="mt-2">{{ property ? property.country : 'Mina Road, Bur Dubai, Dubai, United Arab Emirates' }}</p>
        <ul>
          <li class="description">
            <div>
              <img src="assets/images/svg/icon/double-bed.svg" class="img-fluid" alt="bed-icon">
              <span>{{ property ? property.beds : '3' }} Chambres</span>
            </div>
          </li>
          <li class="description">
            <div>
              <img src="assets/images/svg/icon/bathroom.svg" class="img-fluid" alt="bathroom-icon">
              <span>{{ property ? property.bath : '4' }} Salles de bain</span>
            </div>
          </li>
          <li class="description">
            <div>
              <img src="assets/images/svg/icon/sofa.svg" class="img-fluid" alt="sofa-icon">
              <span>{{ property ? property.rooms : '2' }} Pièces</span>
            </div>
          </li>
          <li class="description">
            <div>
              <img src="assets/images/svg/icon/square-ruler-tool.svg" class="img-fluid ruler-tool" alt="ruler-icon">
              <span>{{ property ? property.surface : '120' }}m² Surface </span>
            </div>
          </li>
          <li class="description">
            <div>
              <img src="assets/images/svg/icon/garage.svg" class="img-fluid" alt="garage-icon">
              <span>1 Garage</span>
            </div>
          </li>
          <li class="description">
            <div>
              <img src="{{ property ? 'https://127.0.0.1:8000/uploads/images/'+ property.agencyIcon : 'defaultIconPath' }}" class="icon-agence" alt="{{ property ? property.title : 'icon' }}">
            </div>
          </li>
        </ul>
        <div class="share-buttons">
          <div class="d-inline-block">
            <a href="javascript:void(0)" class="btn btn-gradient btn-pill color-2"><i class="far fa-share-square"></i>
              Partager
            </a>
            <div class="share-hover">
              <ul>
                <li>
                  <a href="https://www.facebook.com/" class="icon-facebook">
                    <app-feather-icons [icon]="'facebook'"></app-feather-icons>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/" class="icon-twitter">
                    <app-feather-icons [icon]="'twitter'"></app-feather-icons>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" class="icon-instagram">
                    <app-feather-icons [icon]="'instagram'"></app-feather-icons>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-dashed btn-pill color-2 ms-md-2 ms-1 save-btn"><i class="far fa-heart"></i> Favooris</a>
          <a href="javascript:void(0)" class="btn btn-dashed btn-pill color-2 ms-md-2 ms-1" (click)="print()">
            <app-feather-icons [icon]="'printer'"></app-feather-icons> Imprimer</a>
        </div>
      </div>
      <div class="right-single">
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        @if(property){
          <h2 class="price">{{  property.price | currencySymbol: propertyService.Currency }} <span>/ A Partir de</span></h2>
        }@else if(!property){
          <h2 class="price">{{ 2045472 | currencySymbol: propertyService.Currency }} <span>/ A partir de</span></h2>
        }
        <div class="feature-label">
          <span class="btn btn-dashed color-2 btn-pill">Wi-fi</span>
          <span class="btn btn-dashed color-2 ms-1 btn-pill">Piscine</span>
        </div>
      </div>
    </div>
  </div>
</div>
